body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}
#info .top {
	position	: absolute;
	top		: 0px;
	width		: 100%;
	padding		: 5px;
	text-align	: center;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 5px;
	padding		: 5px;
}

#cursor {
    width: 200px;
    height: 200px;
    position: absolute;
    right: 2em;
    bottom: 2em;
    background-color: red;
}

#map {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 2em;
    top: 2em;
    padding: 0px;
    background-color: white;
    opacity: 0.6;
}